# General Rules
uploads/documents/report.pdf

.DS_Store
.vscode/launch.json
app_sc/cache/*
app_sc/core/MY_Controller.php
app_sc/config/database.php
app_sc/config/config.php
app_sc/config/config.php
!application/cache/index.html

app_sc/logs/*
.htaccess
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/.vscode/

*.ofx
*.txt
*.IIF
mysql/
temp
app_sc/config/config.php
app_sc/config/constants.php


